Admin Component

<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">เลขที่ใบแจ้งซ่อม :</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="เลขที่ใบแจ้งซ่อม">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">อุปกรณ์ :</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="อุปกรณ์">
  </div>

   <div class="form-group">
    <label for="exampleInputEmail2">ผู้แจ้งซ่อม</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="ผู้แจ้งซ่อม">
  </div>
  <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
        
  <div class="form-group">
    <label for="exampleInputEmail2">เบอร์โทร :</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="ผู้แจ้งซ่อม">
  </div>
   <div class="form-group">
    <label for="exampleInputEmail2">Email :</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="ผู้แจ้งซ่อม">
  </div>
  
   <div class="form-group">
    <label for="exampleTextarea">ปัญหา/ความต้องการ :</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
    <div class="form-group">
    <label for="exampleTextarea">วันที่แจ้ง :</label>
    <input type="email" class="form-control" id="exampleTextarea" placeholder="ผู้แจ้งซ่อม">
  </div>

  -----------------------------------------------------------------------
     <div class="form-group">
    <label for="exampleTextarea">ประเภทการซ่อม :</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
    <div class="form-group">
    <label for="exampleTextarea">สาเหตุอาการเสีย :</label>
    <input type="email" class="form-control" id="exampleTextarea" placeholder="ผู้แจ้งซ่อม">
  </div>

 
    </div>
</form>

