<div class="row" style="margin-top: 5px">
  <div class='col-sm-4'>
    <div class="card">
      <img class="card-img-top" src="../../assets/img/meetingroom.jpg" style=" width:100%;" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">ระบบจองห้องประชุม</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class="card">
      <img class="card-img-top" src="../../assets/img/repair.jpg" style=" width:100%;" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">เทสสสสสสสสสสสสสสสส</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a routerLink="/repairs" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>      
  </div>
  <div class='col-sm-4'>
    <div class="card">
      <img class="card-img-top" src="../../assets/img/car.jpg" style=" width:100%;" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> 
  </div>
</div>